$distance: 15px;

.panel {
  background-color: #000A;
  border-radius: 15px;
  padding: $distance;

  color: white;
  font-size: 20px;
  font-weight: bold;
}

.info {
  position: absolute;
  top: $distance;
  left: $distance;
}

.count {
  position: absolute;
  bottom: $distance;
  right: $distance;
}